<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>환자이름</th>
                <th>담당의사</th>
                <th>진료과</th>
                <th>병원</th>
                <th>예약상태</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reserve : ${reserves}">
                <td th:text="${reserve.id}"></td>
                <td th:text="${reserve.patient.name}"></td>
                <td th:text="${reserve.doctor.name}"></td>
                <td th:text="${reserve.doctor.medicalDepartment.name}"></td>
                <td th:text="${reserve.doctor.medicalDepartment.hospital.name}"></td>
                <td th:text="${reserve.reserveStatus}"></td>
                <td>
                    <a th:if="${reserve.reserveStatus.name() == 'RESERVE'}" href="#"
                       th:href="'javascript:cancel('+${reserve.id}+')'"
                       class="btn btn-danger">CANCEL</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
 function cancel(id) {
 var form = document.createElement("form");
 form.setAttribute("method", "post");
 form.setAttribute("action", "/reserves/" + id + "/cancel");
 document.body.appendChild(form);
 form.submit();
 }
</script>
</html>