<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>이름</th>
        <th>경력</th>
        <th>부서</th>
        <th>병원</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}"></td>
        <td th:text="${doctor.name}"></td>
        <td th:text="${doctor.career}"></td>
        <td th:text="${doctor.medicalDepartment.name}"></td>
        <td th:text="${doctor.medicalDepartment.hospital.name}"></td>
        <td>
          <a href="#" th:href="@{/doctors/{id}/edit (id=${doctor.id})}"
             class="btn btn-primary" role="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>